* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
}

.box{
  width: 300px;
  height: 150px;
  box-shadow: 0 0 10px rgb(117, 14, 14);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}